/* color name */
/* h1{
    color: red;
} */

/* hex code */
/* h1{
   color: #333ab6
} */

/* RGB color */
/* h1{
    color: rgb(78, 33, 19) */

    /* background color */
    /* body{
        background-color: aqua;
    }
    div{
        background-color: gray;
        color: red;
    } */

    /* Opacity */
    /* #div-1{
        background-color: green;
        opacity: 0.1;
    } */
    img{
        opacity: 0.1;
    }